.service-post.large {
    border-top: 6px solid var(--yellow);
}

.service-post.medium {
    border-top: 6px solid var(--primary);
}

.service-post.small {
    border-top: 6px solid var(--secondary);
}

.service-post .focus-text,
#start-cost .focus-text {
    font-weight: 700;
}

#custom-made {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    border-radius: 9px;
    width: 40%;
    padding: 40px;
}

#start-cost {
    background-color: var(--primary);
    color: var(--white);
}

#start-cost .row {
    text-align: center;
}