.service-post.large {
    border-top: 6px solid var(--yellow);
}

.service-post.medium {
    border-top: 6px solid var(--primary);
}

.service-post.small {
    border-top: 6px solid var(--secondary);
}

.service-post .focus-text {
    font-weight: 700;
}