.service-post.large {
    border-top: 6px solid var(--yellow);
}

.service-post.medium {
    border-top: 6px solid var(--primary);
}

.service-post.small {
    border-top: 6px solid var(--secondary);
}

.service-post .focus-text,
#start-cost .focus-text {
    font-weight: 700;
}

#custom-made {
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    border-radius: 9px;
    width: 40%;
    padding: 40px;
}

#start-cost {
    /* background-color: var(--primary); */
    color: var(--white);
}



#start-cost .row {
    text-align: center;
}

#start-cost h2 {
    color: var(--white);
}

.content-box {
    background-color: var(--yellow);
    color: var(--white);
    text-align: center;
    border-radius: 9px;
    width: 40%;
    padding: 40px;
}

@media all and (max-width: 540px) {
    #custom-made,
    .content-box {
        width: 90%;
    }
}