#first-section.section {
    background-color: #095eae50;
}

#client-logo {
    background-color: var(--white);
}

#client-logo .row {
    margin-top: 0;
}

#client-logo .client-logos-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#client-logo .client-logos-wrapper img {
    max-width: 200px;
    height: auto;
    margin: 30px;
}