.banner {
    background-image: url('https://blitz-media.io/blog/perfecte-restaurant-website/img/banner.jpg');
}

.overlay {
    background: var(--overlay-blue);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
}