@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary: #095eae;
    --secondary: #ffcbaa;
    --yellow: #eee75c;
    --white: #fff;
    --black: #000;
    --light-grey: #f5f5f5;
    --background: #12141d;
    --background-accent: #1e2029;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --boxShadow: 0px 3px 6px #00000029;
    --box-shadow-dark: 0px 6px 15px 5px rgb(14 27 56 / 30%);
    --box-shadow-nav: 0px 6px 15px 5px rgb(14 27 56 / 15%);
    --transition: all .25s ease-in-out;

    --overlay: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 70%);
    --overlay-blue: linear-gradient(90deg, rgb(9, 94, 174) 0%, rgb(9, 94, 174) 24%, rgb(0, 0, 0) 70%);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* TEXT */
h1 {
    font-weight: 700;
    font-size: 42px;
    color: var(--primary);
    line-height: 1.2;
    margin-bottom: 16px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

h3 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 16px;
}

p,
ul {
    font-size: 14px;
    margin-bottom: 16px;
}

a {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

ul li:before {
    content: "✓";
    color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

.bold {
    font-weight: 700;
}

.primary-color {
    color: var(--primary);
}

.white-color {
    color: var(--white);
}

.black-color {
    color: var(--black);
}

/* BUTTONS */
.primary-btn {
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 9px;
    padding: 10px 15px;
    transition: var(--transition);
}

.primary-btn:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

.primary-btn.ghost-btn {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.primary-btn.ghost-btn:hover {
    background-color: var(--secondary);
    color: var(--white);
    border: 1px solid var(--secondary);
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

.btn-wrapper {
    margin-top: 10px;
}

.btn-wrapper .primary-btn {
    margin: 20px 10px;
}

.btn-wrapper .primary-btn:nth-child(1) {
    margin-left: 0;
}

/* SECTIONS, ROWS & COLUMNS */
.section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
}

.row.row-reverse {
    flex-direction: row-reverse;
}

.row.flex-col {
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 30px;
}

.center-text {
    text-align: center;
}

.center-content {
    margin-right: auto;
    margin-left: auto;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.services-wrapper {
    border: 1px solid #eeeff1;
    border-radius: 9px;
    padding: 40px;
    text-align: center;
}

.services-wrapper h3 {
    margin-top: 20px;
}
.services-wrapper:hover {
    box-shadow: var(--box-shadow);
    transition: 0.5s;
}

/* PPRICING */
.pricing-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 20px 0; 
}

.pricing-wrapper .pricing-post ul li:nth-child(1)::before {
    color: var(--primary);
}

.pricing-wrapper .pricing-post ul li:nth-child(2)::before {
    color: var(--secondary);
}

.pricing-wrapper .pricing-post ul li:nth-child(3)::before {
    color: var(--yellow);
}

.pricing-post {
    background-color: var(--white);
    color: var(--black);
    padding: 30px;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
    text-align: center;
    margin: 0 -10px;
    width: 40%;
}

.pricing-post:nth-child(1),
.pricing-post:nth-child(3) {
    margin-top: 30px;
}

.pricing-post.focus-post {
    box-shadow: var(--box-shadow-dark);
    border: 2px solid var(--primary);
    z-index: 3;
    position: relative;
}

.pricing-post .pricing-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.focus-tag {
    display: flex;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    color: var(--white);
    padding: 15px 10px;
    border-radius: 6px;
    margin-left: 10px;
    align-items: center;
    height: 30px;
}

.pricing-post img {
    display: none;
    max-height: 100px;
    width: auto;
}

.pricing-post h3 {
    margin-bottom: 0;
}

.pricing-post ul {
    font-size: 14px;
    margin: 20px 0;
}

.pricing-post .pricing-amount {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
}

.pricing-post.focus-post .pricing-amount {
    color: var(--primary);
}

.pricing-post.focus-post .primary-btn {
    position: absolute;
    width: 140px;
    bottom: 20px;
    margin-left: -70px;
}

.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.elementor-shape-bottom {
    bottom: -1px;
}
.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.elementor-2 .elementor-element.elementor-element-00341b3 > .elementor-shape-bottom svg {
    width: calc(225% + 1.3px);
    height: 175px;
}
.elementor-shape-bottom:not([data-negative=true]) svg {
    z-index: -1;
}

.elementor-shape svg {
    fill: #ffffff;
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* ANIMATED NUMBERS */
.platform-counter-row {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 0;
    align-items: center;
    justify-content: center;
}

.platform-counter .col:first-child {
    margin-left: 0;
}

.platform-counter .col .description {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
}

.platform-counter .col .counter {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0;
}

#services {
    position: relative;
}

#services .services-container {
    flex-direction: column;
}

.services-background {
    background-image: url("/IMG/black-and-white-30.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

.services-section:nth-child(1) {
    margin-top: 20px;
}

#services .services-section h2,
#services .services-section p {
    text-align: center;
}

#services .services-section .description {
    max-width: 50%;
    margin: 0 auto;
}

.service-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 1;
    /* margin-top: 40px; */
}

.service-wrapper .service-post {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 20px;
    padding: 30px;
    border-radius: 9px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-nav);
    transition: var(--transition);
    position: relative;
}

.service-wrapper .service-post.focus {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: var(--box-shadow-dark);
}

.service-wrapper .service-post:hover {
    transition: var(--transition);
    transform: scale(1.10);
    border: 2px solid var(--primary);
}

.service-wrapper .service-post .icon {
    height: 30px;
    width: 30px;
    position: relative;
    background-color: var(--primary);
}

.service-wrapper .service-post a {
    text-decoration: none;
    transition: var(--transition);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.service-wrapper .service-post.focus a {
    color: var(--white);
}

.service-wrapper .service-post a:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: var(--transition);
}

.service-wrapper .service-post h3 {
    text-align: center;
    font-size: 21px;
}

img {
    height: auto;
}


@media all and (max-width: 768px) {
    .hero-right-circles {
        display: none;
    }

    #hero-section .col:nth-child(2) {
        display: none;
    }

    #hero-section .row {
        margin-top: 70px;
    }

    #first-section.section {
        padding-top: 80px;
    }

    .btn-wrapper {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    .btn-wrapper .primary-btn {
        margin: 10px 0;
        margin-right: auto;
        margin-left: auto;
    }

    .pricing-post.focus-post .primary-btn {
        position: unset;
        margin-left: unset;
    }

    .row {
        flex-direction: column;
        margin: 20px auto;
        gap: 40px;
    }

    .row.row-reverse {
        flex-direction: column-reverse;
    }

    .col {
        width: 100%;
        padding: 0 30px;
    }

    .row.flex-col {
        padding: 0 30px;
    }

    h1 {
        font-size: 36px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 24px;
    }

    p {
        text-align: center;
    }

    .primary-btn {
        margin: auto auto;
    }

    img:not(#header-logo) {
        max-width: 100%;
        margin: 40px auto;
    }

    .services-wrapper {
        margin: 30px auto;
    }

    .pricing-wrapper .pricing-post {
        width: 100%;
    }

    .pricing-wrapper .pricing-post:nth-child(1),
    .pricing-wrapper .pricing-post:nth-child(2),
    .pricing-wrapper .pricing-post:nth-child(3) {
        margin: 10px auto;
    }

    .pricing-wrapper,
    .reviews-wrapper {
        flex-direction: column;
    }

    .services-wrapper:nth-child(1) {
        margin-top: 0;
    }

    .services-wrapper:nth-child(3) {
        margin-bottom: 0;
    }

    .services-wrapper .services-img {
        margin: 10px auto!important;
    }

    .services-wrapper h3 {
        margin-top: 0;
        font-size: 20px;
    }

    .reviews-wrapper {
        width: 100%;
        max-width: none;
    }

    .reviews-wrapper .review-post {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .reviews-wrapper .review-post:nth-child(2) {
        margin-top: 20px;
    }

    .service-wrapper .service-post {
        width: 90%;
    }

    .service-wrapper .service-post p {
        text-align: left;
    }

    .hide-sm {
        display: none;
    }

    #about.section .row .col img {
        margin-bottom: 30px;
    }

    #contact {
        padding: 0 30px;
    }

    #services .services-section .description {
        width: 90%;
        max-width: unset;
    }
}

@media all and (min-width: 1600px) {
    p,
    a,
    ul {
        font-size: 16px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    .row {
        max-width: 1600px;
    }
}

.cookie-banner-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    right: 50px;
    bottom: 50px;
    height: auto;
    width: 400px;
    background-color: var(--white);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
    z-index: 99;
}

.cookie-banner-content {
    position: relative;
}

.cookie-banner-wrapper a {
    color: var(--primary);
}

.cookie-banner-wrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cookie-banner-wrapper #more-info {
    left: 0;
    position: absolute;
}

.cookie-banner-wrapper #accept-cookies {
    right: 0;
    position: absolute;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.hide-cookie-banner {
    display: none!important;
}

@media all and (max-width: 540px) {
    .cookie-banner-wrapper {
        width: 100%;
        left: 0;
        right: 0;
        bottom: 100px;
    }
}