.header {
    background-color: var(--secondary);
    min-height: unset;
    z-index: 99;
    transition: background-color 200ms linear;
}

.header .row {
    width: 100%;
    max-width: 1600px;
    min-height: unset;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 60px;
    margin: 0 auto;
    background-color: transparent;
}

.header .logo,
.footer .logo {
    width: 100px;
}

.footer .logo {
    fill: var(--white);
}

.header .nav-logo {
    margin-right: auto;
}

.header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.header .container .nav {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    opacity: 1;
    transition: var(--transition);
}

.header .container .nav:hover {
    transition: var(--transition);
}

.header .container .btn {
    margin-bottom: 5px;
}

.header .primary-btn {
    margin-top: 0;
}

.header .topnav-content-sm {
    display: none;
}

.header .small-menu-wrapper {
    display: none;
    width: 100%;
}

.nav {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav:hover::before {
    transform: scaleX(1);
}

.header .dropdown-btn {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.header .dropdown-btn:hover {
    cursor: pointer;
}

.header .dropdown-holder .dropdown a {
    color: var(--black);
    padding: 5px;
}

.header .dropdown-holder i {
    margin-left: 5px;
}

.header .dropdown-holder {
    position: relative;
    display: flex;
    padding-bottom: 5px;
}


.header .dropdown-holder.active {
    display: inline-block;
}

.header .dropdown-holder.active .nav-item {
    padding-top: 0;
}

.header .dropdown-holder .dropdown {
    position: absolute;
    width: calc(100% + 100px);
    display: none;
    margin-top: 10px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: var(--primary);
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}

.header .navigation .dropdown-holder.active .nav-item::before {
    transform: scaleX(1);
}

.header .dropdown-holder .dropdown a {
    color: var(--black);
    font-size: 18px;
    padding: 15px 10px 5px 10px;
    transition: var(--transition);
}

.header .dropdown-holder .dropdown .last {
    border-bottom: none;
    margin-bottom: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.header .dropdown-holder.active .dropdown {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    transition: var(--transition);
    z-index: 99;
}

.header .dropdown-holder .dropdown a:hover {
    color: var(--primary);
    background-color: var(--white);
    transition: var(--transition);
}

/* FOOTER */
#footer {
    width: 100%;
    background-color: var(--secondary);
    color: var(--white);
    z-index: 5;
    position: relative;
    overflow: hidden;
}

#footer .col {
    align-items: center;
    margin: 0;
}

#footer .col:nth-child(1) {
    width: 10%;
    margin-left: 0;
}

#footer .col:nth-child(2) {
    width: 70%;
}

#footer .col:nth-child(3) {
    width: 20%;
}

#footer img {
    max-width: 100px;
    height: auto;
}

#footer ul,
#footer a {
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
}

#footer a {
    text-decoration: underline;
}

#footer ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

#footer ul li:before {
    content: '|';
    color: var(--white);
    margin-left: 10px;
    font-weight: 400;
}

#footer ul li:nth-child(1)::before {
    content: '';
}

#footer .row {
    max-width: 1200px;
    align-items: center;
}

#footer .col.socials {
    flex-direction: row;
}

#footer .col.socials a {
    margin: 0 10px;
    font-size: 18px;
    transition: var(--transition);
}

#footer .col.socials a :hover {
    transition: var(--transition);
    transform: scale(1.10);
}

#footer .col.socials i {
    font-family: FontAwesome;
}

@media (max-width: 1340px) {
    .header .row {
        display: none;
    }

    .header .topnav-content-sm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        width: 100%;
    }

    .header .small-menu-content {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        background-color: var(--secondary);
    }

    .header .topnav-content-sm svg {
        fill: var(--primary);
        width: 25px;
    }

    .header .topnav-content-sm svg:hover {
        cursor: pointer;
    }

    .header .logo, 
    .footer .logo {
        width: 75px;
        margin: 0!important;
    }
}

@media all and (max-width: 768px) {
    #footer .row .col {
        margin: 0;
        width: 100%!important;
    }

    #footer .row img {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        max-width: 100px;
    }

    #footer .row ul {
        flex-direction: column;
        margin: 20px 0!important;
        padding-inline-start: 0!important;
        align-self: start;
    }

    #footer .row ul li::before {
        content: ''!important;
        margin-left: 0;
    }
}